parameters:
    database_host: db
    database_port: 3306
    database_name: vdmscraper
    database_user: root
    database_password: root
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    secret: ThisTokenIsNotSoSecretChangeIt
